@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

